<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), url_for(:back) %> </li>
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>
    <li></li>
</div>


<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyer à nouveau les instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
