<header>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-bars'), root_path %>
    </li>
    <div class="header_title">Creapolis</div>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-plus'), root_path %>
    </li>
</header>
<div class="container connection">

  <!-- formulaire pour se connecter -->
  <div class="box_connection_top">

    <%= render "layouts/login" %>
    <%= render "users/shared/links" %>

  </div>
  <div class="box_connection_bottom">
        <%= link_to "Créer un compte", new_user_registration_path%>
  </div>
  <!-- FIN formulaire pour se connecter -->

</div>
