<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %> </li>
    <div class="header_title">
      <%= link_to image_tag("creapolis_logo_temp.png"), root_path %>
    </div>
    <li></li>
</div>
<div class="connection">


  <!-- formulaire pour se connecter -->
  <div class="box-connection-top">

    <%= render "layouts/login" %>
    <%= render "users/shared/links" %>

  </div>
  <div class="box-connection-bottom">
        <%= link_to "Créer un compte", new_user_registration_path%>
  </div>
  <!-- FIN formulaire pour se connecter -->

</div>
