<div class="my_header">
  <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), admin_path %> </li>
    </li>
    <div class="header_title">
      <%= link_to image_tag("creapolis_logo_temp.png"), root_path %>
    </div>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-sign-out-alt'), destroy_user_session_path, method: :delete  %>
    </li>
</div>

<div class="body-container">
  <div class="artwork_moderation">
    Modération des oeuvres :
    <br>

    <table>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Artiste</th>
        <th>Technique</th>
        <th>Modifications</th>
      </tr>
      <br>
      <% @artworks.each do |artwork| %>
          <tr>
              <td><%= artwork.id %></td>
              <td>
                <% if !artwork.pictures.first.nil? %>
                  <%= cl_image_tag artwork.pictures.first.img_url_url,:width => 200, :crop => :fill, :secure => true%>
                <% else %>
                  Pas de photo
                <% end %>
              </td>
              <td>
                <% if !artwork.artist.nil? %>
                    <%= artwork.artist %><br>
                    <% if !artwork.artists.nil? %>
                      <% artwork.artists.each do |artist| %>
                        <%= link_to artist.pseudo, artist %><br>
                      <% end %>
                    <% else %>
                      Pas d'artiste
                    <% end %>
                <% else %>
                  <% if !artwork.artists.nil? %>
                    <% artwork.artists.each do |artist| %>
                      <%= link_to artist.pseudo, artist %><br>
                    <% end %>
                  <% else %>
                    Pas d'artiste
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= artwork.style %>
              </td>
              <td>
                <%= form_tag artwork_path(artwork), method: :put do  %>
                  <%= label_tag 'Technique :' %><%= text_field_tag(:style, artwork.style) %>
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check-circle"></i>
                  </button>
                <% end %>
                  <%= form_tag artwork_path(artwork), method: :put do  %>
                  <%= label_tag 'Artiste :' %><%= select_tag 'artists', options_from_collection_for_select(User.where(artist:true).all, "id", "pseudo"), prompt: "Ajouter un artiste" %>
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check-circle"></i>
                  </button>
                <% end %>
              </td>
              <td>
                <% if artwork.moderated == false %>
                  <%= link_to content_tag(:i, nil, class: 'far fa-thumbs-up', alt:'Valider cette oeuvre'), validated_artwork_path(artwork), method: :put %>
                <% else %> OK
                <% end %>
              </td>
              <td><%= link_to content_tag(:i, nil, class: 'far fa-image', alt:'Modifier cette oeuvre'), artwork %>
              </td>
              <td><%= link_to content_tag(:i, nil, class: 'fas fa-trash-alt', alt:'Supprimer cette oeuvre'), artwork, method: :delete %>
              </td>
          </tr>

      <% end %>
    </table>
  </div>
</div>
