<div class ="artwork-image-likes">
<<<<<<< HEAD
    <%= link_to image_tag((@artwork.pictures.first.img_url)), artwork_path(@artwork) %>
=======
    <%= link_to image_tag(@artwork.pictures.first.img_url), artwork_path(@artwork) %>
>>>>>>> master
</div>

<div class = "artwork-infos">
      <p><i class="fas fa-user"></i>
        <% if @artwork.artists.exists? %>
          <% @artwork.artists.each { |artist| %>
          <%= artist.pseudo %>
          <% } %>
        <% elsif %>
          <% if !@artwork.artist.nil? %>
          <%= @artwork.artist %>
          <% end %>
        <% elsif %>
          Artiste non indiqué
        <% end %>
      </p>
      <p><i class="fas fa-paint-brush"></i>
        <% if !@artwork.style.nil? %>
          <%= @artwork.style %>
        <% else %>
          Style non indiqué
        <% end %>
      </p>
      <p><i class="fas fa-check-circle"></i>  Visible </i></p>
</div>
