<div class ="artwork-image-likes">
    <%= link_to cl_image_tag(@artwork.pictures.first.img_url, :secure => true, :width => 200, :height => 200, :crop => :fill), artwork_path(@artwork) %>
</div>

<div class = "artwork-infos">
      <p><i class="fas fa-user"></i>
      <% if @artwork.artists.select{|a| a.status == "validated"} != "" %>
        <% @artwork.artists.select{|a| a.status == "validated"}.each do |artist| %>
          <%= link_to artist.pseudo, user_path(artist) %> &nbsp
            <% end %>
        <% else %>
            <% if @artwork.artist == "" %>
          Artiste non renseigné
            <% else %>
          <%= @artwork.artist %>
          <% end %>
        <% end %>
      </p>
      <p><i class="fas fa-paint-brush"></i>
        <% if !@artwork.style.nil? %>
          <%= @artwork.style %>
        <% else %>
          Technique non renseignée
        <% end %>
      </p>
      <p class="address-artwork"><i class="fas fa-location-arrow"></i>  <%=@artwork.address%> </i></p>
</div>
