<header>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-bars'), root_path %>
    </li>
    <div class="header_title">Creapolis</div>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-plus'), root_path %>
    </li>
</header>

<div class="display">
    <h1>Artworks#index</h1>
    <p>Find me in app/views/artworks/index.html.erb</p>


</div>




<div class="bottom_menu">
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-map-marker-alt'), root_path %>
          <div class="tab tab1">

          </div>
    </li>
    <li><%= link_to content_tag(:i, nil, class: 'fab fa-cloudsmith'), root_path %>
      <div class="tab tab2">

      </div>
    </li>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-camera'), root_path %>
      <div class="tab tab3">

      </div>
    </li>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-search'), root_path %>
      <div class="tab tab4">

      </div>
    </li>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-user'), root_path %>
      <div class="tab tab5">

      </div>
    </li>
    </li>

</div>
