<div class="my_header">

    <li>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fas fa-bars"></i>
      </span>
    </li>
    
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>

    <!-- Don't remove this empty <li> -->
    <li></li>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Kit du photographe</a>
      <a href="#">Techniques art urbain</a>
      <a href="#">CGV</a>
      <a href="#">Contact</a>
    </div>

</div>


<div class="background-new-form">
</div>

<% if user_signed_in? %>
<div id="map_index"></div>

  <%= render 'layouts/bottom_menu' %>

<!-- if user is not signed_in, he can sign in -->
  <% else %>

  <div class="connection">
    <!-- formulaire pour se connecter -->
    <div class="box-connection-top">
      <%= render "layouts/login" %>

    </div>
    <div class="box-connection-bottom">
          <%= link_to "Créer un compte", new_user_registration_path%>
    </div>
  </div>
</div>
<% end %>


<div class="popup-container" style="display: none">
</div>

<script type="text/javascript">



getLocation();

// This is a public token
if (sessionStorage.getItem('lat') === null) {
  map = L.map('map_index').setView([ 48.866667,  2.333333], 13)
} else {
  map = L.map('map_index').setView([sessionStorage.getItem('lat'),sessionStorage.getItem('lng')], 13)
}

// This is a public token
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 20,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g'
}).addTo(map);

// Activate geoloc
L.control.locate().addTo(map)

// Puts markers on map
var markers_clusters = L.markerClusterGroup({
  disableClusteringAtZoom: 17
});

map.addLayer(markers_clusters);
var arr = <%= @artworks_js.html_safe %>
var markers = {};

console.log(arr)
// For each marker clicked, we send an AJAX request to show a small version of show artwork
 arr.forEach(function (markerConfig, index) {
  if (arr[index].pictures.length >0){
    marker = new L.Marker([arr[index].lat,arr[index].long]);
    markers_clusters.addLayer(marker);
    marker.on('click', function(){
    $.ajax({
          type: "GET",
          contentType: "application/json; charset=utf-8",
          url: "/artworks/show_small/"+arr[index].id,
      });
    });
  };
});

// If a user clicks on the map, the show_small of artworks is hidden
 map.on('click', function(){
  $(".popup-container").hide()
 });


//console.log(sessionStorage.getItem('lat'));



</script>


<!-- Left side navigation menu -->
<script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "80%";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
  }
</script>
