
<div class="my_header">
	  <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), url_for(:back) %> </li>
    <div class="header_title">Creapolis</div>
    <li>
    </li>
</div>


<div class="body-container">
	<div class="container connection">
		<div class="box_connection_top">
			<p> Vous vous apprêtez à créer une oeuvre qui n'apparaît pas sur la carte. Pour ajouter une photo d'une oeuvre existante, retournez sur la page de la carte. </p>

			<%= form_tag (artworks_path) do %>
			<% if @artwork.errors.any? %>
				<div id="error_explanation">
				  <h2>
				    <%= pluralize(@artwork.errors.count, "error") %> prohibited
				    this user from being saved:
				  </h2>
				    <% @artwork.errors.full_messages.each do |msg| %>
				      <p><%= msg %></p>
				    <% end %>
				</div>
			<% end %>

			<div class="field input" >
			  <%= label_tag "nom", "Nom de l'œuvre (si vous le connaissez)" %>
			  <br>
			  <%= text_field_tag(:title) %>
			</div>
			<br>
			<div class="field input">
			  <%= label_tag 'artist', "Nom de l'artiste (si vous le connaissez)"  %>
			  <br>
			  <%= text_field_tag(:description) %>
			</div>
			<br>
			<div class="field input" style="display: none">
			  <%= label_tag 'lat', "Latitude"  %>
			  <br>
			  <%= text_field_tag :lat, id:"lat" %>
			</div>
			<br>
			<div class="field input" style="display:none">
			  <%= label_tag 'long', "Longitude"  %>
			  <br>
			  <%= text_field_tag :long, id:"long" %>
			</div>
			<br><br>
			<p> <%= submit_tag 'Valider', class: "btn btn-primary",id:"test"%></p>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">

(function() {

function success(pos) {
  var crd = pos.coords;
  console.log(crd.latitude);
  document.getElementById("lat").value = crd.latitude;
  document.getElementById("long").value = crd.longitude;

};

function error(err) {
  alert("Merci d'activer votre géolocalisation pour pouvoir ajouter une oeuvre !");
};

navigator.geolocation.getCurrentPosition(success, error)
})();

</script>

