<div class="container-fluid">
  <div class="row content">

<!-- Navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <div class="navbar-brand" href="#">

          <span ><i class="fas fa-angle-left"></i></span>

          
          <span class="align-middle">
            <span ><i class="fas fa-user"></i></span>
          </span>
          
          <span class="align-middle">Toto Streetartist</span>

        </div>
      </div>

    </div>
  </nav>
<!-- Navbar -->




    <div class="col-sm-9">

<!-- Image artwork -->
        <%= image_tag @artwork.pictures.first.img_url , class: "img-responsive" %>
<!-- Image artwork -->





<!-- Slideshow -->
        
    <div class="">

      <div class="mySlides">
        <%= image_tag 'image1.jpg', class: "img-responsive" %>
      </div>

      <div class="mySlides">
        <%= image_tag 'image2.jpg', class: "img-responsive" %>
      </div>

      <div class="mySlides">
        <%= image_tag 'image3.jpg', class: "img-responsive" %>
      </div>
        

      <div class="mySlides">
        <%= image_tag 'image1.jpg', class: "img-responsive" %>
      </div>

      <div class="mySlides">
        <%= image_tag 'image2.jpg', class: "img-responsive" %>
      </div>

      <div class="mySlides">
        <%= image_tag 'image3.jpg', class: "img-responsive" %>
      </div>


      <div class="mySlides">
        <%= image_tag 'image1.jpg', class: "img-responsive" %>
      </div>

 <br>

  <div class="test">
    <div class="column">
      <%= image_tag("image1.jpg", :style => 'width: 100%;', class: "demo cursor", :onclick =>"currentSlide(1)")%>
    </div>

    <div class="column">
      <%= image_tag("image2.jpg", :style => 'width: 100%;', class: "demo cursor", :onclick =>"currentSlide(2)")%>
    </div>
    <div class="column">
      <%= image_tag("image3.jpg", :style => 'width: 100%;', class: "demo cursor", :onclick =>"currentSlide(3)")%>
    </div>

    <div class="column">
      <%= image_tag("image1.jpg", :style => 'width: 100%;', class: "demo cursor", :onclick =>"currentSlide(1)")%>
    </div>
    <div class="column">
      <%= image_tag("image2.jpg", :style => 'width: 100%;', class: "demo cursor", :onclick =>"currentSlide(2)")%>
      <!-- <img class="demo cursor" src="img_nature.jpg" style="width:25%" onclick="currentSlide(5)" alt="Nature and sunrise"> -->
    </div>
    <div class="column">
      <%= image_tag("image3.jpg", :style => 'width: 100%;', class: "demo cursor", :onclick =>"currentSlide(1)")%>
    </div>

    <div class="column">
      <%= image_tag("image1.jpg", :style => 'width: 100%;', class: "demo cursor", :onclick =>"currentSlide(1)")%>
    </div>

  </div>


</div>



<!-- Slideshow -->








      <br>

      <div class="btn-group">

        <button type="button" class="btn btn-primary">
          <span ><i class="fas fa-heart"></i></span>
        </button>

        <button type="button" class="btn btn-primary">
          <span ><i class="fas fa-comment"></i></span>
        </button>

        <button type="button" class="btn btn-primary">
          <span ><i class="fas fa-share"></i></span>
        </button>




        <button type="button" class="btn btn-secondary">
          <span ><i class="fas fa-bookmark"></i></span>
        </button>

        <button type="button" class="btn btn-secondary">
          <span ><i class="fas fa-exclamation-circle "></i></span>
        </button>



      </div>


<hr>

    <!-- Artwork info begin -->
    <div class="artwork_info">

    <!-- Left -->
      <div class="artwork_info_group_left">

        <div class="artwork_info_artist">
          <ul>
            <li><i class="fas fa-user" style="margin-right: 15px;"></i></li>
            <li><span>Artiste</span></li>
          </ul>
        </div>

        <div class="artwork_info_tech">
          <ul>
            <li><i class="fas fa-paint-brush" style="margin-right: 15px;"></i></li>
            <li><span>Technique</span></li>
          </ul>
        </div>

      </div>


    <!-- Right -->
      <div class="artwork_info_group_right">

        <div class="artwork_info_place">
          <ul>
            <li><i class="fas fa-map-marker" style="margin-right: 15px;"></i></li>
            <li><span>Lieu</span></li>
          </ul>
        </div>
        <div class="artwork_info_status">
          <ul>
            <li><i class="fas fa-check" style="margin-right: 15px;"></i></li>
            <li><span>Status</span></li>
          </ul>
        </div>
      </div>
      
    </div>
    <!-- Artwork info end -->

    <hr>
      <div class="row">

        <% @artwork.pictures.each do |picture| %>
          <div class="col-xs-4">
            <%= image_tag picture.img_url, class: "img-responsive" %>
          </div>
        <% end %>

      </div>
    <hr>


      <h4>Leave a Comment:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <br><br>
      
      <p><span class="badge">2</span> Comments:</p><br>
      
      <div class="row">

        <div class="col-sm-2 ">
          <%= image_tag('image1.jpg', class: "user_avatar_small") %>
        </div>
        <div class="col-sm-10">
          <h4>Anja <small>Sep 29, 2015, 9:12 PM</small></h4>
          <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <br>
        </div>

        <div class="col-sm-2">
          <%= image_tag('image2.jpg', class: "user_avatar_small") %>
        </div>
        <div class="col-sm-10">
          <h4>John Row <small>Sep 25, 2015, 8:25 PM</small></h4>
          <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <br>
          
          
          
              <br>
              <br>
           
     



        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/bottom_menu' %>




<!-- Script slideshow artwork -->
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
<!-- Script slideshow artwork -->


