<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %> </li>
    <div class="header_title">
      <div class="header_title_logo"></div>
    </div>
    <li></li>
</div>

<!-- body-container begin -->
<div class="body-container">
  <!-- container-fluid -->
  <div class="container-fluid">
    <!-- Row content begin -->
    <div class="row content">
      <br>

      <!-- Class col sm 9 begin -->
      <div class="col-sm-9">

      <!-- Slideshow begin -->
      <% @artwork.pictures.each.with_index do |picture, index| %>
        <div class="mySlides">
          <div class="numbertext"><%= index + 1 %> / <%= @artwork.pictures.count %>
          </div>

            <%= cl_image_tag picture.img_url, :secure => true, class: "img-responsive" %>

          <div class="artwork-picture-info">

            <div class="user_avatar_row_small_type">
              <div class="publish space-top-bot-10">
                <%= link_to user_profile_path(picture.user_id) do %>
                  <% if picture.user.profile_picture.url.nil? %>
                  <%= image_tag "default_profile_picture.jpg"%>
                  <% else %>
                  <%= cl_image_tag picture.user.profile_picture,:width => 200, :height => 200, :crop => :fill, :secure => true %>
                  <% end %>
                <% end %>

                <span style="padding-left: 5px;">
                  Publié par :
                  <span style="font-weight: bold;">
                    <%= link_to user_profile_path(picture.user_id) do %>
                    <%= picture.user.pseudo %>
                    <% end %>
                  </span>
                </span>
              </div>
            </div>

            <div>
              <% if current_user.voted_for? picture %>
                  <%= link_to unlike_picture_path(picture), method: :put, class: "round-corner-ok-small" do %>
                    <i class="fas fa-heart" style="color:#E76262"></i>
                    <span style="font-size: 12px; color:#E76262; font-weight: 700; font-size: 16px;margin-left: 5px;">
                    <%= picture.get_upvotes.size %></span>
                  <% end %>
              <% else %>
                  <%= link_to like_picture_path(picture), method: :put, class: "round-corner-no-small" do %>
                    <i class="far fa-heart"></i>
                    <span style="font-size: 16px;margin-left: 5px;">
                    <%= picture.get_upvotes.size %></span>
                  <% end %>
              <% end %>
            </div>

          </div>

          <div class="signal-picture-button detail_signal">
            <%= link_to content_tag(:i, nil, class: "fas fa-exclamation-triangle"), signal_picture_path(picture) %>
          </div>

        </div>

      <%end%>

      <br>

      <% if @artwork.pictures.count > 1 %>
        <div class="scroll-group">
          <div class="row">
            <% @artwork.pictures.each.with_index do |picture, index| %>
              <div class="col-xs-4">
              <%= cl_image_tag(picture.img_url, :crop => :fill, :width => 400, :height => 225, :secure => true, class: "img-responsive demo cursor", :onclick =>"currentSlide(#{index+1})")%>
              </div>
            <%end%>
          </div>
        </div>
      <%end%>
      <!-- Slideshow end -->

      <br>

      <%= form_tag (pictures_path(id: @artwork.id)), multipart: true do %>
        <div class="add-picture-artwork">
          <i class="fas fa-plus-circle fa-2x" onclick="document.getElementById('upload').click();"> </i>
          <p onclick="document.getElementById('upload').click();"> Ajoutez votre photo de cette oeuvre ! </p>
        </div>
        <%= file_field_tag :img_url, id:"upload", style:"display:none", onchange:"readURL(this);" %>
        <div class= "center-picture-preview">
          <img id="picture-preview" src="#" alt="your image" style="display:none;" />
        </div>
        <div class="submit-new-picture-button" style="display:none">
          <%= submit_tag 'Valider'%>
        </div>
      <% end %>

      </div>
      <!-- Class col sm 9 end -->

    </div>
    <!-- Row content begin -->

<hr>

<br>

      <!-- Artwork info begin -->
      <div class="artwork_info">
        <!-- Left -->
        <div class="artwork_info_artist">
          <ul>
            <li><i class="fas fa-user" style="margin-right: 15px;"></i></li>
              <% if @artwork.artists.exists? %>
              <% @artwork.artists.each do |artist| %>
                <li><span><%= link_to artist.pseudo, user_path(artist) %></span></li>
                  <% end %>
              <% else %>
                  <% if @artwork.artist === ""%>
                <li><span>Artiste non indiqué</span></li>
                  <% else %>
                <li><span> <%= @artwork.artist %></span></li>
                <% end %>
              <% end %>
          </ul>
        </div>

        <div class="artwork_info_tech">
          <ul>
            <li><i class="fas fa-paint-brush" style="margin-right: 15px;"></i></li>
            <li><span>
              <% if @artwork.style.nil? %>
                Pas de technique renseignée
              <% else %>
                <%= @artwork.style %>
              <% end %>
            </span></li>
          </ul>
        </div>
      </div>
      <!-- Artwork info end -->
        <!-- Right -->
        <div class="artwork_address">
            <ul>
              <li><i class="fas fa-map-marker" style="margin-right: 15px;"></i></li>
              <li><span>
                <% if @artwork.address.nil? %>
                  Pas de lieu renseigné
                <% else %>
                  <%= @artwork.address %>
                <% end %>
              </span></li>
            </ul>
          </div>
          
          <div class="artwork_info_status">
          </div>
        </div>
    </div>
    <!-- container-fluid -->
    
    <hr>
    <% if !current_user.created_artworks.include?(@artwork)%>
    <div class="claim-artwork">
    <%= link_to "Je suis l'auteur de cette oeuvre", claim_artwork_path(@artwork) %>
    </div>
    <%end %>


    </div>
    <!-- body -->







<!-- Script slideshow artwork -->
<script type="text/javascript">
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}



function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#picture-preview')
        .attr('src', e.target.result)
        .height(200);
    $('#picture-preview').show();
    $(".submit-new-picture-button").show();
    };
    reader.readAsDataURL(input.files[0]);
  }

}

$('#submit-picture').click(
function(){
  if($('#upload').get(0).files.length === 0){
      alert("Vous n'avez pas rentré de photo pour cette oeuvre !");
      return false;
   } else {
    return true;
   }
});





</script>
<!-- Script slideshow artwork -->
