<div class="my_header">
  <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %> </li>
    </li>
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-sign-out-alt'), destroy_user_session_path, method: :delete  %>
    </li>
</div>

<!-- Partie du haut -->
<div class="user_top">
  <% if @user == current_user && @user.admin %>
    <div class="admin_row"><%= link_to "Panneau d'administration", admin_path  %>
    </div>
  <% end %>
  <div class="user_row">
      <div class="user_row_left">
        <div class="user_avatar_row">
            <% if @user.profile_picture.url.nil? %>
            <%= image_tag "default_profile_picture.jpg"%>
            <% else %>
            <%= cl_image_tag @user.profile_picture,:width => 200, :height => 200, :crop => :fill, :secure => true %>
            <% end %>
        </div>
        <div class="user_pseudo">
          <%= @user.pseudo %>
          <% if @user.artist %>
            <br>
            <span class="status_artist"> Artiste </span>
          <% end %>
        </div>
      </div>
      <% if current_user == @user %>
      <div class="edit_profile_link"><%= link_to "Modifier le profil", edit_user_registration_path  %>
      </div>
      <% end %>
  </div>

  <% if @user.artist %>
  <div class="user_tabs">
    <li class="tab0"><i class='fas fa-paint-brush'></i>
      <p class="count-items">
    <%= @user.created_artworks.count %>
    <% if @user.created_artworks.count < 2 %> oeuvre
        <% else %> oeuvres
      <%end%>
    </p>
    </li>
    <li class="tab1 active_tab"><i class='fas fa-camera-retro'></i>
      <p class="count-items">
      <%= @user.pictures.count %>
        <% if @user.pictures.count < 2 %> photo
        <% else %> photos
        <% end %>
      </p>
    </li>
    <li class="tab2"><i class='far fa-map'></i>
      <p class="count-items">
      <%=@user.created_artworks.count %>
      <% if @user.created_artworks.count < 2 %> lieu
        <% else %> lieux
        <%end%>
      </p>
    </li>
  </div>
  

  <%else %>
  <div class="user_tabs">
      <li class="tab1 active_tab"><i class='fas fa-camera-retro'></i>
        <p class="count-items">
        <%= @user.pictures.count %>
          <% if @user.pictures.count < 2 %> photo
          <% else %> photos
          <% end %>
        </p>
      </li>
      <li class="tab2"><i class='far fa-map'></i>
        <p class="count-items">
        <%= @user.pictures.group(:artwork_id).distinct.count(:artwork_id).count %>
          <% if @user.pictures.group(:artwork_id).distinct.count(:artwork_id).count < 2 %> lieu
          <% else %> lieux
          <%end%>
        </p>
      </li>
  </div>
<% end %>
</div>
<!-- FIN partie du haut -->

<!-- Partie du bas -->
<div class="user_bottom">
  <% if @user.artist %>
  <div class="artist_artworks_pictures">
      <div class="user_tabs_description">
        <% if @user == current_user %>
          Retrouvez toutes vos oeuvres 
          <% else %>
          Retrouvez toutes les oeuvres de <%= @user.pseudo %>
          <% end %>
      </div>
      <% if @user.created_artworks.count == 0 %>
          <% if @user == current_user %>
          <p> Vous n'avez pas encore d'oeuvre référencéee.</p>
          <% else %>
          <p> <%= @user.pseudo %> n'a pas encore d'oeuvre référencée </p>
          <% end %>
      <% else %>
      <div class="row">
        <% @user.created_artworks.each do |artwork| %>
          <% if artwork.pictures.count > 0 %>
            <div class="col-xs-4">
                <%= link_to artwork_path(artwork) do %>
                  <%= cl_image_tag(artwork.pictures.first.img_url,:width => 400, :height => 225, :crop => :fill, :secure => true, class: "img-responsive") %>
                <% end %>
            </div>
          <% end %>
        <%end%>
      </div>
      <% end %>
  </div>
  <% end %>

  <div class="user_pictures">
      <div class="user_tabs_description">
        <% if @user == current_user %>
          Retrouvez les photos que vous avez prises.
        <% else %>
          Retrouvez les photos prises par <%= @user.pseudo %>
        <% end %>
      </div>
      <% if @user.pictures.count == 0 %>
      <div class="user_information_update">
        <% if @user == current_user %>
          <p> Vous n'avez aucune photo répertoriée pour l'instant.</p>
          <% else %>
          <p> <%= @user.pseudo %> n'a aucune photo répertoriée pour l'instant.</p>
          <% end %>
      </div>

      <% else %>
        <div class="row">
          <% @user.pictures.each do |picture| %>

            <div class="col-xs-4">
              <%= link_to picture_path(picture) do %>
                <%= cl_image_tag(picture.img_url, :width => 400, :height => 225, :crop => :fill, :secure => true, class: "img-responsive") %>
              <% end %>
            </div>

          <% end %>
        </div>
      <% end %>
    </div>
  


  <% if !@user.artist %>
  <div class="user_map">
    <div class="user_tabs_description">
      <% if @user == current_user %>
        Retrouvez les lieux de vos photos
        <% else %>
        Retrouvez les lieux des photos prises par <%= @user.pseudo %>
        <% end %>
    </div>
    <%if @user.pictures.count > 0 %>
    <div id="map_user"></div>
    <% else %>
    <div class="user_information_update">
      <% if @user == current_user %>
        Vous n'avez aucune photo référencée pour le moment 
      <% else %>
        <%= @user.pseudo %> n'a aucune photo référencée pour le moment
      <% end %>
    </div>
    <% end %>
  </div>


  <% else %> 
  <div class="user_map">
    <div class="user_tabs_description">
      <% if @user == current_user %>
        Retrouvez les lieux de vos oeuvres
      <% else %> 
        Retrouvez les lieux des oeuvres réalisées par <%= @user.pseudo %>
      <% end %>
    </div>
    <%if @user.created_artworks.count > 0 %>
    <div id="map_user"></div>
    <% else %>
    <div class="user_information_update">
      <% if @user == current_user %>
        Vous n'avez aucune oeuvre référencée pour le moment
      <% else %> 
      <%= @user.pseudo %> n'a aucune oeuvre référencée pour le moment
      <% end %>
    </div>
    <%end%>
  </div>
<%end%>
</div>


<div class="popup-container" style="display: none">
</div>


<script type="text/javascript">

var user = <%= @user_js.html_safe %>

var up = <%= @up_js.html_safe %>

var ua = <%= @ua_js.html_safe %>

if (user.artist !== true) {

map = L.map('map_user').setView([up[up.length-1].artwork.lat, up[up.length-1].artwork.long], 14)

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g'
  }).addTo(map);


// We define the clusters
var markers_clusters = L.markerClusterGroup({
disableClusteringAtZoom: 17

});

map.addLayer(markers_clusters);

// For each marker clicked, we get the show page > maybe better in ajax?
up.forEach(function (markerConfig, index) {
  marker = new L.Marker([up[index].artwork.lat,up[index].artwork.long]);
  markers_clusters.addLayer(marker);
  marker.on('click', function(){
        $.ajax({
          type: "GET",
          contentType: "application/json; charset=utf-8",
          url: "/artworks/show_small/"+up[index].artwork_id,
      });

  })
});

 map.on('click', function(){
  $(".popup-container").hide()
 });


} else {

map = L.map('map_user').setView([ua[ua.length-1].lat, ua[ua.length-1].long], 14)

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g'
  }).addTo(map);


// We define the clusters
var markers_clusters = L.markerClusterGroup({
disableClusteringAtZoom: 17

});

map.addLayer(markers_clusters);

// For each marker clicked, we get the show page > maybe better in ajax?
ua.forEach(function (markerConfig, index) {
  marker = new L.Marker([ua[index].lat,ua[index].long]);
  markers_clusters.addLayer(marker);
  marker.on('click', function(){
        $.ajax({
          type: "GET",
          contentType: "application/json; charset=utf-8",
          url: "/artworks/show_small/"+ua[index].id,
      });

  })
});

 map.on('click', function(){
  $(".popup-container").hide()
 });
}


</script>

<!-- FIN Partie du bas -->
