<div class="my_header">
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %>
    </li>
    <div class="header_title">Creapolis</div>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-sign-out-alt'), destroy_user_session_path, method: :delete  %>
    </li>
</div>


<div class="body-container">

<!-- Partie du haut -->
  <div class="user_top">
    <div class="user_avatar_row">
        <% if @user.profile_picture %>
        <%= image_tag @user.profile_picture %>
        <% end %>
    </div>
    <div class="user_pseudo">
      <%= @user.pseudo %>
      <% if @user.artist == true %>
        <span class="status_artist"> Artist </span>
      <% end %>
    </div>
    <div class="user_stats">
        <% if @user.artist == true %>
            <div>
              <%= @user.artworks.count %>
              <br>oeuvres
            </div>
        <% end %>
        <div>
          <%= @user.pictures.count %>
          <br>photos
        </div>
        <div>
          3
          <br>villes
        </div>
        <div>
          2
          <br>pays
        </div>
    </div>

    <div class="user_tabs">
        <% if @user.artist == true %>
          <li class="tab0"><i class='fab fa-phoenix-framework'></i>
          </li>
        <% end %>
        <li class="tab1 active_tab"><i class='fas fa-camera-retro'></i>
        </li>
        <li class="tab2"><i class='far fa-map'></i>
        </li>
    </div>

  </div>
<!-- FIN partie du haut -->

<!-- Partie du bas -->
  <div class="user_pictures">
      <% if @user.pictures.count == 0 %>
          <p> Vous n'avez pas encore proposé d'images.</p>
      <% else %>
            <div class="row">
              <% @user.pictures.each do |picture| %>
                <div class="col-xs-4">
                  <%= image_tag picture.img_url, class: "img-responsive" %>
                </div>
              <% end %>
            </div>
      <% end %>
  </div>

  <div class="user_map">

    <div id="map_user"></div>

    <script type="text/javascript">

    map = L.map('map_user').setView([ 48.8879012, 2.384519], 17)

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox.streets',
          accessToken: 'pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g'
      }).addTo(map);

    var up = <%= @up_js.html_safe %>
  console.log(up)
    var markers = {};

    for (var i=0; i < up.length; i++){
      var picture = up[i];
      markers[picture.artwork_id] = L.marker([picture.artwork.lat,picture.artwork.long]).addTo(map);
      console.log(picture.artwork_id)
      markers[picture.artwork_id]._icon.id = picture.artwork_id;
    }

      $('.leaflet-marker-icon').on('click', function(e) {
        var el = $(e.srcElement || e.target),
        id = el.attr('id');
        a = up.find(function(v) {
        return v.artwork_id == id;
        }) || {}

        window.open("/artworks/"+ id,"_parent");


    });

    </script>
  </div>

  <div class="artist_artworks_pictures">

    <% if @user.artist && @user.artworks.count == 0 %>
        <p> Vous n'avez pas encore d'oeuvres référencées.</p>
    <% else %>
          <div class="row">
            <% @user.artworks.each do |artwork| %>
            <% if artwork.pictures.count > 0 %>
              <div class="col-xs-4">   
                <%= image_tag artwork.pictures.first.img_url, class: "img-responsive" %>
                <% end %>
              </div>
            <% end %>
          </div>
    <% end %>

  </div>

</div>

<!-- FIN Partie du bas -->
