<div class="my_header">
  <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), url_for(:back) %> </li>
    </li>
    <div class="header_title">Creapolis</div>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-sign-out-alt'), destroy_user_session_path, method: :delete  %>
    </li>
</div>

<div class="background-new-form">
</div>

<div class="body-container">

  <!-- Partie du haut -->
  <div class="user_top">
    <div class="user_avatar_row">
        <% if @user.profile_picture.url.nil? %>
        <%= image_tag "default_profile_picture.jpg"%>
        <% else %>
        <%= cl_image_tag @user.profile_picture,:width => 200, :height => 200, :crop => :fit, :secure => true %>
        <% end %>
    </div>
    <div class="user_pseudo">
      <%= @user.pseudo %>
      <% if @user.artist == true %>
        <span class="status_artist"> Artist </span>
      <% end %>
    </div>
    <div class="user_stats">
        <% if @user.artist == true %>
            <div>
              <%= @user.artworks.count %>
              <br>oeuvres
            </div>
        <% end %>
        <div>
          <%= @user.pictures.count %>
          <br>photos
        </div>
        <div>
          3
          <br>villes
        </div>
        <div>
          2
          <br>pays
        </div>
    </div>

    <div class="user_tabs">
        <% if @user.artist %>
          <li class="tab0"><i class='fab fa-phoenix-framework'></i>
          </li>
        <% end %>
        <li class="tab1 active_tab"><i class='fas fa-camera-retro'></i>
        </li>
        <li class="tab2"><i class='far fa-map'></i>
        </li>
    </div>

  </div>
<!-- FIN partie du haut -->

<!-- Partie du bas -->
  <div class="artist_artworks_pictures">
      <% if @user.artworks.count == 0 %>
          <p> Vous n'avez pas encore d'oeuvres référencées.</p>
      <% else %>
      <div class="row">
        <% @user.artworks.each do |artwork| %>
        <% if artwork.pictures.count > 0 %>
          <div class="col-xs-4">
            <%= cl_image_tag(artwork.pictures.first.img_url,:width => 400, :height => 225, :crop => :fit, :secure => true, class: "img-responsive") %>
          <% end %>
          </div>
          <%end%>
      </div>
      <% end %>
  </div>

  <div class="user_pictures">
      <% if @user.pictures.count == 0 %>
          <p> Vous n'avez pas encore proposé d'images.</p>
      <% else %>
            <div class="row">
              <% @user.pictures.each do |picture| %>
                <div class="col-xs-4">

                  <%= link_to picture_path(picture) do %>
                    <%= cl_image_tag(picture.img_url, :width => 400, :height => 225, :crop => :fill, :secure => true, class: "img-responsive") %>
                  <% end %>

                </div>
              <% end %>
            </div>
      <% end %>
  </div>

  <div class="user_map">

    <div id="map_user"></div>
  </div>


</div>

<div class="form-container">
  <div class="popup-form" style="display: none">
  </div>
</div>

<script type="text/javascript">


map = L.map('map_user').setView([ 48.8879012, 2.384519], 17)

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoianVzdGlrcm8iLCJhIjoiY2plbzR6djJnM3RyOTJ4cGszb3hiNGdtcCJ9._gRBjH1x_-nGrj7hD-2i6g'
  }).addTo(map);

var up = <%= @up_js.html_safe %>

// We define the clusters
var markers_clusters = L.markerClusterGroup({
disableClusteringAtZoom: 17

});

map.addLayer(markers_clusters);

// For each marker clicked, we get the show page > maybe better in ajax?
up.forEach(function (markerConfig, index) {
  marker = new L.Marker([up[index].artwork.lat,up[index].artwork.long]);
  markers_clusters.addLayer(marker);
  marker.on('click', function(){
  window.open("/artworks/"+up[index].artwork_id,"_parent");

  })
});



</script>

<!-- FIN Partie du bas -->
