<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %> </li>
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>
    <li></li>
</div>

<div class="body-container">
  <div class= "picture-new-container">
    <div class="picture-new">
      <p>Veuillez ajouter la photo associée à l'oeuvre. La création de l'oeuvre doit être validée par les modérateurs</p>

      <%= form_tag (pictures_path(id: "0")), multipart: true do %>

      <div class="field">
        <div class= "add-picture">
          <i class="fas fa-plus-circle fa-2x" onclick="document.getElementById('upload').click();"> </i>
          <p onclick="document.getElementById('upload').click();"> Ajoutez votre photo </p>
        </div>
        <%= file_field_tag :img_url, id:"upload", style:"display:none", onchange:"readURL(this);" %>
        <div class= "center-picture-preview">
          <img id="picture-preview" src="#" alt="your image" style="display:none;" />
        </div>

      </div>

      <%= submit_tag 'Valider', class: "btn btn-primary", id:"submit-picture"%>
    <% end %>
    </div>
</div>
</div>

<script type="text/javascript">

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#picture-preview')
          .attr('src', e.target.result)
          .height(200);
    $('#picture-preview').show()         
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

 $('#submit-picture').click(
	function(){ 
    if($('#upload').get(0).files.length === 0){ 
        alert("Vous n'avez pas rentré de photo pour cette oeuvre !"); 
        return false; 
     } else {
      return true;
     }
  }); 

 

</script>