<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), user_path(@picture.user) %> </li>
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>
    <li></li>
</div>


<div class="body-container">

  <!-- Container-fluid FIRST beign -->
  <div class="container-fluid-picture picture-page">

    <!-- Row content begin -->
    <div class="picture-vizualisation">

        <% if mobile_device? %><!-- Afficher le pseudo seulement depuis un device mobile -->
          <!-- Avatar + Pseudo begin -->
          <div class="user_avatar_row_small">

              <div class="publish space-top-bot-10">
                <%= link_to user_profile_path(@picture.user_id) do %>
                  <% if @picture.user.profile_picture.url.nil? %>
                  <%= image_tag "default_profile_picture.jpg"%>
                  <% else %>
                  <%= cl_image_tag @picture.user.profile_picture,:width => 200, :height => 200, :crop => :fill, :secure => true %>
                  <% end %>
                <% end %>
                <span style="padding-left: 5px;">
                  Publiée par :
                  <span style="font-weight: bold;">
                      <%= link_to user_profile_path(@picture.user_id) do %>
                      <%= @picture.user.pseudo %>
                    <% end %>
                  </span>
                </span>
              </div>

          </div>
          <!-- Avatar + Pseudo end -->
        <% end %>

        <!-- Big image -->
        <div class="col-sm-12">
          <%= link_to user_profile_path(@picture.user_id) do %>
            <%= cl_image_tag @picture.img_url, :secure => true, class: "img-responsive" %>
          <% end %>
        </div>
        <!-- Big image -->

        <div class="picture_informations">

          <% if mobile_device? %><!-- Ne pas afficher le pseudo ici depuis un device mobile -->
            <div class="nothing"><!--Div vide pour le flex justify-content-->
              <i class="fas fa-exclamation-triangle"></i>
            </div>
          <% else %> <!-- Afficher le pseudo sur ordi -->
            <!-- Avatar + Pseudo begin -->
            <div class="user_avatar_row_small">

                <div class="publish space-top-bot-10">
                  <%= link_to user_profile_path(@picture.user_id) do %>
                    <% if @picture.user.profile_picture.url.nil? %>
                    <%= image_tag "default_profile_picture.jpg"%>
                    <% else %>
                    <%= cl_image_tag @picture.user.profile_picture,:width => 200, :height => 200, :crop => :fill, :secure => true %>
                    <% end %>
                  <% end %>
                  <span style="padding-left: 5px;">
                    Publiée par :
                    <span style="font-weight: bold;">
                        <%= link_to user_profile_path(@picture.user_id) do %>
                        <%= @picture.user.pseudo %>
                      <% end %>
                    </span>
                  </span>
                </div>

            </div>
    				<!-- Avatar + Pseudo end -->
          <% end %>

          <div class="btn-group">
              <% if current_user.voted_for? @picture %>
                  <%= link_to unlike_picture_path(@picture), method: :put, class: "round-corner-ok" do %>
                  <i class="fas fa-heart" style="color:#E76262"></i>
                  <span style="font-size: 12px; color:#E76262; font-weight: 700; font-size: 16px;margin-left: 5px;">
                    <%= @picture.get_upvotes.size %></span>
                  <% end %>
              <% else %>
                  <%= link_to like_picture_path(@picture), method: :put, class: "round-corner-no" do %>
                  <i class="far fa-heart"></i>
                  <span style="font-size: 16px;margin-left: 5px;">
                  <%= @picture.get_upvotes.size %></span>
                  <% end %>
              <% end %>
          </div>
          <div class="signal-picture-button">
            <%= link_to content_tag(:i, nil, class: "fas fa-exclamation-triangle"), signal_picture_path(@picture) %>
          </div>
        </div>

    </div>
    <!-- Row content end -->

    <div class="picture-meta">
      <div class="col-sm-12 center-element">
        <span style="color: #09125A;margin-right: 5px"><i class="fas fa-plus"></i></span>
          <%= link_to "De détails sur l'oeuvre", artwork_path(@picture.artwork_id) %>
      </div>
      <% if @picture.user == current_user %>
      <br>
      <div class="col-sm-12 center-element">
        <span style="color: #09125A;margin-right: 5px"><i class="fas fa-trash-alt"></i></span>
          <% if @picture.artwork.pictures.count == 1 %>
            <%= link_to "Supprimer cette photo", @artwork, data: { confirm: "Attention la suppression de cette photo entrainera la suppression de l'oeuvre !" }, method: :delete %>
          <% else %>
            <%= link_to "Supprimer cette photo", @picture, data: { confirm: "Etes-vous sûr(e) ?" }, method: :delete %>
          <% end %>
      </div>
      <% end %>
    </div>

  </div>

</div>
<hr>

<%= render 'layouts/bottom_menu' %>



<!-- Script slideshow artwork -->
<script type="text/javascript">
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
<!-- Script slideshow artwork -->
