<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), url_for(:back) %> </li>
    <div class="header_title">
      <div class="header_title_logo"></div>
    </div>
    <li></li>
</div>


<div class="body-container">


  <!-- Container-fluid FIRST beign -->
  <div class="container-fluid">

    <!-- Row content begin -->
    <div class="row content">

     <!-- Avatar + Pseudo -->
        <div class="user_avatar_row_small">

            <div class="publish space-top-bot-10">

              <%= link_to user_profile_path(@picture.user_id) do %>
                <% if @picture.user.profile_picture.url.nil? %>
                <%= image_tag "default_profile_picture.jpg"%>
                <% else %>
                <%= cl_image_tag @picture.user.profile_picture,:width => 200, :height => 200, :crop => :fill, :secure => true %>
                <% end %>
              <% end %>

                <span style="padding-left: 5px;">
                  Publié par :
                    <span style="font-weight: bold;">
                        <%= link_to user_profile_path(@picture.user_id) do %>
                        <%= @picture.user.pseudo %>
                      <% end %>
                    </span>
                </span>
            </div>

        </div>

    <!-- Title artwork -->
				<!-- <div class="col-sm-12">
					<div class="title_artwork"><%= @picture.artwork.title %></div>
				</div>-->

  </div>
  <!-- Row content end -->
</div>
<!-- Container-fluid -->



<div class="w-100 bottom_img_picture">
  <%= link_to user_profile_path(@picture.user_id) do %>
    <%= cl_image_tag @picture.img_url, :secure => true, class: "img-responsive" %>
  <% end %>
</div>


<div class="picture_informations">
    <!-- Buttons begin -->
    <div class="btn-group">
        <% if current_user.voted_for? @picture %>
            <%= link_to unlike_picture_path(@picture), method: :put, class: "round-corner-ok" do %>
            <i class="fas fa-heart" style="color:#E76262"></i>
            <span style="font-size: 12px; color:#E76262; font-weight: 700">
              <%= @picture.get_upvotes.size %>&nbsp;J'aime(s)</span>
            <% end %>

        <% else %>
            <%= link_to like_picture_path(@picture), method: :put, class: "round-corner-no" do %>
            <i class="far fa-heart"></i>
            <%= @picture.get_upvotes.size %>
            <span>J'aime(s)</span>
            <% end %>
        <% end %>
    </div>
    <!-- Button end -->
</div>


<hr>


  <!-- Container-fluid FIRST beign -->
  <div class="container-fluid">
    <!-- Row content begin -->
    <div class="row content">
      <!-- Class col sm 9 begin -->
      <div class="col-sm-9">

<!-- Button begin -->
<!--     <div class="btn-group">
        <button type="button" class="btn btn-primary">
          <span ><i class="fas fa-share"></i></span>
        </button>
    </div>
 -->

        <div class="col-sm-12 center-element">
          <span style="color: #09125A;margin-right: 5px"><i class="fas fa-plus"></i></span>
            <%= link_to "De détails sur l'oeuvre", artwork_path(@picture.artwork_id) %>
        </div>

        <% if @picture.user == current_user %>
        <br>
        <div class="col-sm-12 center-element">
          <span style="color: #09125A;margin-right: 5px"><i class="fas fa-trash-alt"></i></span>
            <%= link_to "Supprimer cette photo", @picture, data: { confirm: "Etes-vous sûr(e) ?" }, method: :delete %>
        </div>
        <% end %>

      </div>
      <!-- Class col sm  end -->
    </div>
    <!-- Row content end -->
  </div>
  <!-- Container-fluid -->








</div>
<!-- body-container begin -->

<%= render 'layouts/bottom_menu' %>





<!-- Script slideshow artwork -->
<script type="text/javascript">
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
<!-- Script slideshow artwork -->
