<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %> </li>
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>
    <li></li>
</div>

<div class="body-container">
	<div class="body-searches">
		<div id="search-container">
		   <input id="search-input" placeholder="Rechercher un utilisateur">
		   <!-- We use a specific placeholder in the input to guides users in their search. -->
       <span class="powered">
       <%= link_to image_tag("algolia-powered.svg", size: "160x15"), "https://www.algolia.com/" %>
       </span>
    </div>

		<main>
		    <div id="hits"></div>
		    <script type="text/html" id="hit-template">
					<div class="hit">
					  <div class="hit-content" onclick="goToProfilePage('{{id}}')">
		    			<img class="hit-user_picture" src="{{user_picture}}" alt="Photo">
					    <p class="hit-pseudo">{{{_highlightResult.pseudo.value}}} </p>
					    <img class="hit-artist_check" src="{{artist_check}}">
					  </div>
					</div>
				</script>

		    <div id="pagination"></div>
		</main>
	</div>
</div>



<script type="text/javascript">


  var search = instantsearch({
  appId: '<%= ENV['ALGOLIA_APPLICATION_ID']%>' ,
  apiKey: '<%= ENV['ALGOLIA_SEARCH_ONLY_API_KEY']%>',
  indexName: 'User',
  searchParameters: {
    hitsPerPage: 8,
  }
});


(function() {

  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-input'
    })
  );

  search.addWidget(
    instantsearch.widgets.hits({
      container: '#hits',
      templates: {
        item: document.getElementById('hit-template').innerHTML,
        empty: "Aucun résultat pour votre recherche <em>\"{{query}}\"</em>"
      }
    })
  );

  // search.addWidget(
  //   instantsearch.widgets.pagination({
  //     container: '#pagination'
  //   })
  // );

  search.start();

})();

  function goToProfilePage(id){
    window.open("/users/"+id,"_self");
  };




</script>
