<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), url_for(:back) %> </li>
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>
    <li></li>
</div>

<div class="container connection">

  <!-- formulaire pour s'inscrire -->
  <div class="box-connection-top">

    <div class="form-title">Récupération du mot de passe</div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Votre email"%>
      </div>

      <div class="actions">
        <%= f.submit "Recevoir votre nouveau mot de passe" %>
      </div>
    <% end %>
  </div>

  <div class="box-connection-bottom">
        <%= link_to "Se connecter", new_user_session_path %>
  </div>

</div>
