<% content_for :meta_title, "Creapolis - Parcours" %>

<div class="my_header">

    <li>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fas fa-bars"></i>
      </span>
    </li>

    <div class="header_title">
      <%= link_to image_tag("creapolis_logo_temp.png"), root_path %>
    </div>

    <!-- Don't remove this empty <li> -->
    <li></li>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <%= link_to "À propos", menu_propos_path, class:"nav-item"%>
      <%= link_to "Guide de l'explorateur", menu_camera_kit_path, class:"nav-item"%>
      <%= link_to "Techniques art urbain", menu_technics_path, class:"nav-item"%>
    </div>
</div>


<div class="spaceleft">
	<div class="title_routes">Retrouvez tous nos itinéraires Street Art</div>
</div>


<div class="list-group list-special">
<% @routes.each do |route| %>
  <span class="list-group-item ">
  	<div class="list-group-item-inside">

		<%= link_to route.title, route_path(route)%>
		<%= link_to content_tag(:i, nil, class: 'fas fa-chevron-right equilibre'), route_path(route)%>

	</div>
  </span>
  <% end %>

</div>



<script>
  //Left side navigation menu
  function openNav() {
      document.getElementById("mySidenav").style.width = "80%";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
  }


$('.nav-item').on("click", function(){
  $('#mySidenav').hide();
})


</script>
