<%if user_signed_in?%>
<div class="bottom_menu">
    <li>
      <%= link_to content_tag(:i, nil, class: 'fas fa-map-marker-alt') + "Carte", root_path %>
    </li>

    <li>
      <%= link_to content_tag(:i, nil, class: 'fab fa-cloudsmith') + "Parcours", root_path %>
    </li>
    <!-- Image upload with a form -->
    <li>
      <%= link_to content_tag(:i, nil, class: 'fas fa-plus') + "Ajouter", new_artwork_path, remote: true, id:"new_artwork" %>
    </li>

    <li>
      <%= link_to content_tag(:i, nil, class: 'fas fa-search') + "Chercher", root_path %>
    </li>

    <li>
      <%= link_to content_tag(:i, nil, class: 'fas fa-user') + "Profil", user_profile_path(current_user)%>
    </li>
</div>
<%end%>

<script type="text/javascript">
// If the user wants to submit a new artwork, the app background chantes and the form appears  
  $("#new_artwork").on("click", function(){
    $(".background-new-form").show();

// If the user clicks on the background, the form is hidden
    $(".background-new-form").on("click", function(){
      $(".background-new-form").hide();
      $(".popup-form").hide();
    });
  });
</script>