<%if user_signed_in?%>

  <div class="bottom_menu">
      <li class="tab1 <%if root_path == request.fullpath %> selected<%end%>" >
          <%= link_to content_tag(:i, nil, class: 'fas fa-map-marker-alt') + "Carte", root_path %>
      </li>

      <li class="tab2 <%if request.fullpath.include?('/routes') %> selected<%end%>" >
        <%= link_to content_tag(:i, nil, class: 'fab fa-cloudsmith') + "Parcours", routes_path %>
      </li>

      <% if mobile_device? %>
        <!-- Image upload with a form -->
        <li class="tab3 <% if (request.fullpath.include?('/artworks/new') || request.fullpath.include?('/pictures/new')) %> selected <%end%>">
          <%= link_to content_tag(:i, nil, class: 'fas fa-plus') + "Ajouter", new_picture_path, id:"new_artwork" %>
        </li>
      <% end %>

      <li class="tab4 <%if '/searches' == request.fullpath %> selected<%end%>">
        <%= link_to content_tag(:i, nil, class: 'fas fa-search') + "Chercher", searches_path %>
      </li>

      <li class="tab5 <%if request.fullpath.include?('/users') %> selected<%end%>">
        <%= link_to content_tag(:i, nil, class: 'fas fa-user') + "Profil", user_profile_path(current_user)%>
      </li>

  </div>
<%end%>
