
<div class="bottom_menu">
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-map-marker-alt'), root_path %>
          <div class="tab tab1">

          </div>
    </li>
    <li><%= link_to content_tag(:i, nil, class: 'fab fa-cloudsmith'), root_path %>
      <div class="tab tab2">

      </div>
    </li>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-camera'), root_path %>
      <div class="tab tab3">

      </div>
    </li>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-search'), root_path %>
      <div class="tab tab4">

      </div>
    </li>
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-user'), users_show_path %>
      <div class="tab tab5">

      </div>
    </li>
    </li>

</div>
