<div class="form-title">Se connecter</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder:"Adresse email", autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder:"Mot de passe",autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field remember">
      <%= f.check_box :remember_me ,:as => :hidden%>
    </div>

  <% end -%>

    <%= f.submit "Se connecter" %>
    <div class="facebook-login">
        <%= link_to content_tag(:i, nil, class:'fab fa-facebook-square') + "Se connecter avec Facebook", user_facebook_omniauth_authorize_path %>
      </div>
<% end %>
