<!DOCTYPE html>
<html>
  <head>
    <title>Creapolis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload'%>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,900" rel="stylesheet">

  </head>

  <body>
      <% flash.each do |message_type, message| %>
        <div class="my_alert-<%= message_type %>" style="margin-top: 8vh"><%= message %></div>
      <% end %>
    <%= yield %>
    <%= render 'layouts/bottom_menu' %>
  </body>
</html>
