<!DOCTYPE html>
<html>
  <head>

  	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118269489-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-118269489-1');
	</script>

    <title><%= meta_title %></title>
    <%= csrf_meta_tags %>

    <meta name="description" content="<%= meta_description %>">

		    <!-- Facebook Open Graph data -->
		<meta property="og:title" content="<%= meta_title %>" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="<%= request.original_url %>" />
		<meta property="og:image" content="<%= asset_path('meta_image.jpg') %>" />
		<meta property="og:description" content="<%= meta_description %>" />
		<meta property="og:site_name" content="<%= meta_title %>" />



    <%= stylesheet_link_tag    'application', media: 'all'%>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,900" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>


  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
      <% flash.each do |message_type, message| %>
        <div class="my_alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
    <%= render 'layouts/bottom_menu' %>


  </body>
</html>
